# cd server
# npm install
# npm install express cors sqlite3
# npm i nodemon -D

# npm run dev

# cd recbook
# npm install axios
# npm install -g tailwindcss
# npm install -D tailwindcss postcss autoprefixer
# npx --package tailwindcss tailwindcss init -p

